// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
  position: relative;
  z-index: 2; // Higher than container
  pointer-events: auto;
}

.masthead-title {
  display: none !important;
}
